/* --------------------------------> DEFINITIONS <-------------------------------- */
/* Section Start */

/* Definitions Crap Below ----------------*/

body {
    color: white;
    height: auto;
    background-color: #383735;
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: 0px;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 2rem;
    font-weight: 400;

}

h2 {
    font-family: 'Lora', serif;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 1.1px;
    margin-top: 0px;
    margin-bottom: 0px;

}

h3 {
    font-family: 'Lora', serif;
    font-size: 1.3rem;
    font-weight: 300;
    margin: 10px auto 20px auto;
}

h4 {}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

a {

    text-decoration: none;
    color: white;
}

.textitalic {
    font-style: italic;
}

.textgrey {
    color: grey;
}

.hide {
    display: none;
}

.flex {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    /* align-items: center;
    justify-items: center; */

}

.card {
    padding: 20px;
}

section {
    padding: 100px 0px;
}

/* Components Below -----------------*/

.backgroundpic {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.headerbar {
    width: 60%;
    background-color: #21201C;
    border-bottom: 7px solid #707070;
    margin-bottom: 50px;
    padding: 15px;
    padding-left: 5%;
}

.boxtrans {
    width: 100%;
    background-color: rgba(33, 32, 28, 0.7);
}

.boxgrey {
    background-color: #21201c;
    padding: 40px;
}

.button {
    display: block;
    margin: 40px auto;
    width: 200px;
    border-radius: 5px;
    padding: 17px;
    background-color: rgb(60 97 63);
    transition: all 0.5s;
    cursor: pointer;
}

.button p {
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0px;
    font-family: 'Lora', serif;

}

.button:hover {
    background-color: rgb(77 125 81);
    text-decoration: none;
}

.dash {
    display: block;
    margin: 40px auto;
    width: 20px;
    border-bottom: 2px solid #707070;
}

.resumedownload {
    width: 160px;
    margin: 40px auto 10px auto;
}

.resumedownload img {
    float: left;
    height: 30px;
    padding-top: 2px;
}

/* --------------------------------> ABOUT PAGE <-------------------------------- */
/* Section Start */

.page-about {
    /* unneccesary? */
}

.sec-aboutintro {
    background-image: url(../Media/bgabout.jpg);
    height: 100%;
    padding-bottom: 0px;
    display: block;
    display: flex;
    align-items: stretch;
}

.sec-skills {
    background-color: #21201C
}

.sec-principles {
    width: 70%;
    margin: 60px auto;
    text-align: center;
    background-color: #383735;
}

.sec-interests {
    background-image: url(../Media/bgabout.jpg);
    display: block;
    width: 100%;
    height: auto;
}

.sec-quote {}

.sec-images {
    background-color: rgba(33, 32, 28, 1);

}

.sec-listening {
    background-image: url(../Media/bgabout.jpg);
}

/* About Intro Crap Below -----------------*/

.sec-aboutintro .flex {
    flex-wrap: nowrap;
}

.aboutpic {
    width: 50%;
    object-fit: cover;
    height: 70vh;
    float: left;
    margin: 60px 0px 60px 0px;
}

.sec-aboutintro .boxtrans {
    height: calc(70vh + 60px);
    width: auto;
    position: relative;
    top: 60px;
    margin: 0px 60px;

}

.sec-aboutintro .headerbar {
    float: right;
    width: 80%;
    margin-top: 40px;
}

.sec-aboutintro .boxgrey {
    height: calc(70vh - 236px);
    margin-top: 0px;
    padding: 40px;
    display: inline-block;
    position: relative;

}

.sec-aboutintro .resumedownload {
    margin-top: 60px;
}

/* Skills Crap Below -----------------*/

.sec-skills .row {}

.sec-skills .flex {
    width: 90%;
    justify-content: center;

}

.sec-skills .subflex {
    display: flex;
}

.sec-skills .card {
    flex: 1;
    max-width: 300px;
    margin: 40px;
}

.skillname h2 {
    letter-spacing: .2rem;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.skillname {
    width: 180px;
    margin: auto;
}

.skillname img {
    height: 80px;
    width: auto;
    margin: auto auto 30px auto;
}

.sec-skills .button {
    margin-bottom: 100px;
}

.sec-skills .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.sec-skills .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.sec-skills .button:hover span {
    padding-right: 25px;
}

.sec-skills .button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Principles -----------------*/

.letterspacing {
    letter-spacing: 1px;
}

.sec-principles .flex {
    width: 100%;
}

.sec-principles .card {
    max-width: 400px;
    text-align: left;
}

.sec-principles p {
    margin: 10px 0px;
}

/* Interests Crap Below ----------------*/

.sec-interests .project {
    height: auto;
    min-height: fit-content;
    justify-content: center;
    padding: 30px;
}

.sec-interests img {
    height: 150px;
    width: 150px;
    margin: 30px auto;
    justify-self: center;
}

.sec-interests .positioner {
    margin: 30px;
}

/* Quote Crap Below ----------------*/

.sec-quote h3 {
    display: block;
    text-align: center;
    width: 60%;
    min-width: 300px;
    margin: auto;
    letter-spacing: 0.5px;
}

.sec-quote .textitalic {
    margin-top: 20px;
    text-align: right;
}

/* Imagecarousel Crap Below ----------------*/


.sec-images .flex {
    flex-direction: row;
}

.sec-images .card {
    position: relative;
    padding: 0px;
    min-width: 200px;

}

.sec-images img {
    object-fit: fill;
    min-width: 200px;
    max-width: 480px;
    max-height: 270px;
}

.sec-images .headerbar {
    border: none;
    width: 60%;
    position: absolute;
    bottom: 25px;
    margin: 0px;
    padding: 8px 8px 8px 20px;
    background-color: rgba(33, 32, 28, 0.8);
    z-index: 2;
}

/* Listening Crap Below ----------------*/

.sec-listening .flex {
    justify-content: center;
}

.sec-listening .boxgrey {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0px 40px;
    text-align: center;
}

.sec-listening .positioner {
    width: 60px;
    height: auto;
}

.sec-listening h2 {
    width: 80%;
    margin: auto;
    padding-bottom: 15px;
    border-bottom: 3px solid #707070;
    margin-bottom: 20px;

    /* font-size: 1.2rem; */
    /* text-transform: uppercase; */
    /* font-family: 'Hind Madurai', sans-serif; */
}

.sec-listening p {
    max-width: 300px;
    margin: auto;
    padding: 5px;
}

.sec-listening span {
    font-weight: 500;
}

.sec-listening img {
    height: 120px;
    margin: 20px auto;
}

/* --------------------------------> WORK PAGE <-------------------------------- */
/* Section Start */

.trees {
    background-image: url(../Media/bgwork.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sec-projects {
    padding: 136px 0px 40px 0px;

}

/* Projects Crap Below ----------------*/

.projectsdisclaimer {
    background-color: rgba(33, 32, 28, 1);
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: -20px;
    text-align: center;
}

.sec-projects .boxtrans {
    margin: 60px auto;
}

.sec-projects .headerbar {
    margin-bottom: -20px;
}


.project {
    width: 70%;
    height: 100%;
    min-height: 500px;
    margin: auto;
    padding: 0px 30px;
    background-color: rgba(33, 32, 28, 1);
    border-top: 1px solid rgba(33, 32, 28, 1);
    display: flex;
}

.project .half {
    width: 50%;
    min-height: 100%;
    padding: 60px 30px;
    position: relative;
}

.casestudy {
    height: 100%;
    max-height: 40vh;
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.bridgehome .casestudy {
    object-fit: cover;
}

.tags {
    padding: 15px;
}

.tag {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    position: relative;
    margin: 0 27px 13px 0;
    padding: 0 10px 0 12px;
    background: #f9e5a3;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 0.8rem;
}

.tag:before {
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #f9e5a3 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
}

.tag:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    float: left;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: black;
}


.project .button {
    position: absolute;
    bottom: 20px;
    right: 30px;
    margin-top: 20px;
}

/*
.bridgehome .button {
    background-color: rgb(221, 126, 103);
} */

.bridgehome {
    flex-direction: row-reverse;
}

/* .eeoc .button {
    background-color: #195883;

}

.delancey .button {
    background-color: rgb(140 68 59);

} */

.project h1 {
    font-size: 1.9rem;
    margin-top: 0px;
    margin-bottom: 10px;

}

.project p {
    margin-left: 0px;
}

/* --------------------------------> CONTACT PAGE <-------------------------------- */
/* Section Start */


.page-contact {
    height: 100vh;
}

.sky {
    background-image: url(../Media/bgcontact2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* Center the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.sec-contactinfo {
    width: 70%;
    display: block;
    margin: auto;
    padding: 160px 0px;
    text-align: center;

}

.contactinfo1 {
    margin-bottom: 20px;
    padding: 15px;
}

.emailbutton {
    width: 100%;
    display: block;
    padding: 20px;
    background-color: rgba(41, 73, 111, 1);
    border-radius: 5px;
}

.emailbutton:hover {
    background-color: rgb(64, 96, 134);
    text-decoration: none;
}

.emailbutton p {
    margin: 0px;
    font-size: 1.1rem;
    line-height: 25px;
    letter-spacing: .2rem;
    text-transform: lowercase;
}

.emailbutton img {
    float: left;
    height: 25px;
}

.socialbutton {
    display: inline-flex;
    height: 70px;
    width: 70px;
    background-color: rgba(112, 112, 112, 1);
    padding: 10px;
    margin: 0px 6px;
    border-radius: 0px;
}

.linkedin {
    background-color: #0073b1;
}

.github {
    background-color: #6a4ca3;
}

.twitter {
    background-color: #1da1f2;
}

.instagram {
    background-color: #cc3158;
}

.socialicon {
    display: block;
    height: 30px;
    margin: auto;
}




/* --------------------------------> NAV CRAP <-------------------------------- */
/* Section Start */

.navbar {
    position: fixed;
    z-index: 10;
    display: flex;
    width: 100%;
    height: 96px;
    background-color: #21201C;
    align-items: center;
    justify-items: center;
    padding: 0px;
}

.navbar a {
    font-size: 1.2rem;
    margin: 0px 25px;
}

.navlinks {
    margin-left: auto;
}

.lglogo {
    height: 60px;
    width: 60px;
    margin: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

}

#lgname {
    font-family: baskerville;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6rem;
    color: white;

}

.footer {
    padding: 40px 15%;
    background-color: #21201c;
    text-align: center;
}

.footer .flex {
    justify-content: space-between;
    text-align: left;
}

.footer p {
    color: grey;
}

.footer .dash {
    margin-top: 20px;
}

/* --------------------------------> MEDIA QUERIES <-------------------------------- */
/* Section Start */

@media only screen and (max-width: 1250px) {

    .sec-aboutintro .flex {
        flex-wrap: wrap;
    }

    .sec-aboutintro .aboutpic {
        height: 40vh;
        width: 90%;
        margin-bottom: 0px;
    }

    .sec-aboutintro .spacer {
        display: block;
        height: 60px;
    }

    .sec-aboutintro .boxtrans {
        height: auto;
        width: 90%;
        margin: auto;
        margin-top: 60px;
        padding-bottom: 60px;
        position: static;         
        
    }

    .sec-aboutintro .boxgrey {
        height: auto;
    }
    
    .sec-principles .card {
        max-width: 100%;

    }


}

@media only screen and (max-width: 700px) {

    .sec-principles .card {
        width: 100%;

    }

    .sec-interests .reverse {
        flex-direction: column-reverse;
    }

    .sec-listening .positioner {
        width: 100%;
        height: 40px;
    }

    .project {
        flex-direction: column;
        padding: 30px;
    }


    .project .half {
        width: 100%;
        padding: 30px;
    }

}

@media only screen and (max-width: 720px) {

    #lgname {
        display: none;
    }

    .subflex {
        flex-direction: column;
    }
}