/* --------------------------------> DEFINITIONS <-------------------------------- */
/* Section Start */

/* Definitions Crap Below ----------------*/

body {
    color: whitesmoke;
    height: auto;
    background-color: #383735;
    font-family: 'Hind Madurai', sans-serif;
    letter-spacing: .5px;
}


h1 {    /* im lara*/
    text-transform: uppercase;
    font-size: 2rem;

}

h2 {    /* bar title, header nav*/
    font-size: 1.3rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: lighter;
    margin-bottom: 0px;

}

h3 {    /* quotes */
    font-family: Baskerville;
    font-size: 2.2rem;
    font-weight: 300;
    margin: 10px auto 20px auto;
}

h4 {

}

p {    /* text, footer*/
    font-weight: lighter;
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    
}

.hide {
    display: none;
}

/* Components Below -----------------*/

.backgroundpic {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.headerbar {
    width: 60%;
    background-color: #21201C;
    border-bottom: 7px solid #707070;
    margin-bottom: 50px;
    padding: 15px;
    padding-left: 5%;
}

.boxtrans {
    width: 100%;
    background-color: rgba(33, 32, 28, 0.7);
    margin: 60px auto;
}

.boxgrey {
    background-color: #21201c;
    padding: 40px;
}

.button {
    display: block;
    margin: 40px auto;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    padding: 20px;
    background-color: #644732;
    color: white;
    text-align: center;
    text-transform: uppercase;

}



/* --------------------------------> ABOUT PAGE <-------------------------------- */
/* Section Start */

.page-about {     /* specify here to clean up */

}

.wood {
    background-image: url(../Media/bgabout.jpg);
}

.sec-aboutintro {
    padding-top: 96px;
    display: block;
    display: flex;
    align-items: stretch;
}

.sec-skills {
    padding: 70px 0px;
}

.sec-moodboard {
    background-color: #21201C;
    padding: 60px 0px;

    margin: 0;
}

.page-about button {
    /* background-color: green; */
}

.sec-quote1 {     /* specify here to clean up */

}

.sec-interests {
    display: block;
    width: 100%;
    height: auto;
    padding: 70px 0px;
}

.sec-quote2 {     /* specify here to clean up */

}

.sec-listening {     /* specify here to clean up */
    
}

/* About Intro Crap Below -----------------*/

.toppic {
    /* grid-area: toppic; */
    width: 50%;
    object-fit: cover;
    height: 70vh;
    float: left;
    margin: 60px 0px 60px 0px;
}

.sec-aboutintro .boxtrans {
    height: 100%;
    width: auto;
    margin: 0px 7vw 0px 60px;
    padding: 40px 0px;
    
}

.sec-aboutintro .positioner {
    width: 100%;
    margin: 60px auto;

}

.sec-aboutintro .headerbar {
    position: absolute;
    right: 0px;
    width: 43%;
    margin-bottom: 40px;
}

.sec-aboutintro .boxgrey {
    margin-top: 100px;
    padding: 40px;
    display: inline-block;
    height: 77%;
    
}



/* Skills Crap Below -----------------*/

.sec-skills .row {
}

.sec-skills .flex {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
}

.sec-skills .mycard {
    flex: 1;
    padding: 40px;
    display: block;
    align-content: space-between;
}

.skillname h3 {
    font-size: 1.3rem;
    letter-spacing: .2rem;
}

.skillname {
    width: 140px;
}

.skillname .icon {
    height: 80px;
    width: auto;
    margin: auto auto 30px auto;
}

.flexdown {
    padding-top: 20px;
}

.sec-principles {
    width: 70%;
    margin: 60px auto;
    text-align: center;
}

.letterspacing {
    letter-spacing: 1px;
}

.sec-principles .flex {
    width: 100%;
    text-align: initial;
}

.sec-principles .mycard {
    flex: 0 auto;
    width: 50%;
    padding: 30px;
}

.sec-principles p {
    margin:10px 0px;
}


/* Moodboard Crap Below -----------------*/

.moodboardrow {
    justify-content: center;
}

.cardContainer {
    
    justify-items: center;
    margin: 43px;
    padding: 0px;
  }
  
.card {
  width: 100%;
  max-width: 260px;
  max-height: 260px;
  padding-top: 75%;
  padding-right: 0px;
  border: 3px solid gray;
  background-image: url("../Media/texture-3739393_1920.jpg");
  }


/* Quote 1 Crap Below ----------------*/

.sec-quote1 h3 {
    display: block;
    text-align: center;
    width: 70%;
    min-width: 300px;
    margin: auto;
    padding: 70px 0;
}

.quotefrom {
    text-align: right;
    font-style: italic;
}

/* Interests Crap Below ----------------*/

.interest-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;

}

.sec-interests .boxgrey {
    width: 100%;
    max-width: 400px;
    height: 50px;
    margin: auto;

}

.sec-interests .boxgrey p {
    width: 100%;
    margin: auto;
    text-align: center;
    line-height: 45px; /*to center vertically, should approx equal container height */

}

/* experimental 2nd grid------------------ */

.interest-grid2 {
    display: flex;
    align-items: center;
}



.interest-grid2 .boxgrey {
    width: 50%;
    max-width: 400px;
    height: 300px;
    margin: 10px 10px;

}

.interest-grid2 .boxgrey p {
    width: 100%;
    margin: auto;
    text-align: center;
    line-height: 45px; /*to center vertically, should approx equal container height */

}

.interestcategory {
    width: 80%;
    border-bottom: 3px solid #383735;
    margin: 0px auto;
}

/* Quote 2 Crap Below ----------------*/

.sec-quote2 h3 {
    display: block;
    text-align: center;
    width: 70%;
    min-width: 300px;
    margin: auto;
    padding: 70px 0;
}

/* Listening Crap Below ----------------*/

.sec-listening .boxgrey {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 700px;
    display: flex;
}

.albuminfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
}


.sec-listening p {
    width: 166px;
    padding: 5px;
}

.albumcontainer {
    background-color: #B2B2B2;
    border: 3px solid #383735;
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin: 5px auto 5px auto;
}

.music {
    background-image: url(../Media/ninalbum.jpg);
    background-size: contain;
    height: 190px;
    align-self: center;
    justify-self: center;
}

.book {
    background-image: url(../Media/moralanimal.jpg);
    height: 182px;
    background-size: contain;
    align-self: center;
    justify-self: center;

}

/* --------------------------------> WORK PAGE <-------------------------------- */
/* Section Start */

.page-work {
    
}

.trees {
    background-image: url(../Media/bgwork.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.sec-projects {
    padding: 96px 0px 40px 0px;

}

/* Work Intro Crap Below ----------------*/

.pic-workintro {
    width: 60%;
    float: right;
    opacity: 0.39;;

}

/* Projects Crap Below ----------------*/

.projectsdisclaimer {
    background-color: rgba(33, 32, 28, 1);
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: -30px;
    text-align: center;
}


.project {
    width: 70%;
    height: 100%;
    min-height: 500px;
    margin: auto;
    padding: 0px 30px;
    background-color: rgba(33, 32, 28, 1);
    border-top: 1px solid rgba(33, 32, 28, 1);
    display: flex;
}

.project .half {
    width: 50%;
    min-height: 100%;
    padding: 60px 30px;
}

.casestudy {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.eeoc {

}

.delancey {

}

.project h2 {
    font-size: 1rem;
    color: #707070;
}

.project h3 {
    font-size: 2.2rem;
    font-weight: 300;
    margin-top: 0px;
    
}

.project p {
    margin-left: 0px;
}
/* --------------------------------> CONTACT PAGE <-------------------------------- */
/* Section Start */


.page-contact {
    height: 100vh;
}

.sky {
    background-image: url(../Media/bgcontact2.jpg);
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.sec-contactinfo {
  
}



/* --------------------------------> NAV CRAP <-------------------------------- */
/* Section Start */

/* Navigation Crap Below ----------------*/

.navbar {
    background-color:#21201C;
    position: fixed;
    width: 100%;
}

.navbar a {
    font-size: 1.2rem;
    margin: 0px 25px;
}

.navbar-nav {
    margin-left: auto;
}


.footer {
    position: absolute;
    width: 100%;
}

.navlogo {
    height: 60px;
    width: 60px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    
}

#navbar-brand {
    font-family: baskerville;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6rem;
    color: white;
    
}

.icon {
    width: 30px;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 100px;    /* Footer height */
  }
  
  #footer {
    position: absolute;
    width: 100%;
    height: 100px;           /* Footer height */
    bottom: 0px;
}

.contactfix #footer {
    bottom: -100px;
  }

/* --------------------------------> MEDIA QUERIES GODDAMNIT <-------------------------------- */
/* Section Start */

@media only screen and (max-width: 1000px) {

    .project {
        flex-direction: column;
        padding: 30px;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .project .half {
        width: 100%;
        padding: 30px;
    }

}